<div>
    <script
      type="text/javascript"
      src="https://unpkg.com/dangerous-html@0.1.11/dist/default/lib.umd.js"
    ></script>
    <link href="./home.css" rel="stylesheet" />
    <div class="home-container">
      <div class="home-div">
        <dangerous-html
          html="<iframe width='1600' height='1450' src='https://datastudio.google.com/embed/reporting/d9b91691-d91e-462e-a3ef-b17b35bd763e/page/KOO5C' frameborder='0' style='border:0' allowfullscreen></iframe>"
        ></dangerous-html>
      </div>
    </div>
  </div>
  